<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Гид по странам {% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'img/icon.png' %}" type="image/png" sizes="16x16">
    <script src="{% static 'js/program.js' %}" defer></script>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">Гид по странам</div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li><a class="nav-link" href="{% url 'guides:home' %}">Главная</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>