<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Гид по странам {% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'img/icon.png' %}" type="image/png" sizes="16x16">
    <script src="{% static 'js/program.js' %}" defer></script>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand"><img src="{% static 'img/logo.png' %}" alt="Логотип" height="50"> Гид по странам</div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li><a class="nav-link" href="{% url 'guides:home' %}">Главная</a></li>
                    <li><a class="nav-link" href="{% url 'guides:country_list' %}">Страны</a></li>
                    <li><a class="nav-link" href="{% url 'guides:articles_list' %}">Статьи и приложения</a></li>
                    <li><a class="nav-link" href="{% url 'guides:phrases_list' %}">Категории и фразы</a></li>
                    
                     <!-- Кнопки для администратора -->
                 
                     <!--  {% if user.is_authenticated %}
                        {% if user.is_staff or user.is_superuser %}
                            <li><a class="nav-link" href="{% url 'admin:index' %}">Админка</a></li>
                        {% endif %}
                        <li><a class="nav-link" href="{% url 'admin:logout' %}">Выйти</a></li>
                    {% else %}
                        <li><a class="nav-link" href="{% url 'admin:login' %}">Вход</a></li>
                    {% endif %} -->
                    <!-- Если пользователь не авторизован — показывает "Вход", если пользователь авторизован, но не админ показывает только "Выйти", 
                     если пользователь администратор  показывает "Админка" и "Выйти" -->

                </ul>
            </div>
        </div>
    </nav>

    <main class="container">
        <!-- Сообщения от Django  чтобы показывать уведомления об успешном добавлении/редактировании/удалении -->
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="message-{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        {% block content %}
        {% endblock %}
    </main>
    
    <footer class="footer">
        <div class="container text-center">
            <p class="text-muted">Гид по странам — твой персональный путеводитель по удивительным уголкам мира.</p>
        </div>
    </footer>
</body>
</html>