{% extends 'guides/base.html' %}
{% load static %}

{% block title %}ГПС - {% if mode == 'create' %}Добавление{% else %}Редактирование{% endif %} категории{% endblock %}

{% block content %}
<div class="container-py-4">
    <div class="card">
        <div class="card-header">
            <h4>{% if mode == 'create' %}Добавить категорию{% else %}Редактировать категорию{% endif %}</h4>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                
                <div class="mb-3">
                    <label class="form-label">Название категории</label>
                    <input type="text" name="title" value="{{ category.title|default:'' }}" required>
                </div>
                
                <div class="mt-3">
                    <button type="submit" class="btn-success">Сохранить</button>
                    <a href="{% url 'guides:phrases_list' %}" class="btn-secondary">Отмена</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}